@model WebApplication1.Models.Phone
@{
    ViewBag.Title = "Редактирование смартфона";
}
<form asp-action="edit" asp-controller="home" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Название</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Company" class="control-label">Компания</label>
        <input type="text" asp-for="Company" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label">Цена</label>
        <input type="number" asp-for="Price" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-default" />
    </div>
</form>