@{
    ViewData["Title"] = "Home Page";
}


@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="LogOff">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Sign In</a>
    <a asp-controller="Account" asp-action="Register">Register</a>
    <a asp-controller="Admin" asp-action="Index">Index</a>
    
}