@{
    ViewData["Title"] = "Home Page";
}



@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
<div class="bg-info m-1 p-1">
    <h4>AccountController</h4>
    <a class="text-black-50" asp-controller="Account" asp-action="Login">Sign In</a>
    <a class="text-black-50" asp-controller="Account" asp-action="Register">Register</a>
</div>
<div class="bg-info m-1 p-1">
    <h4>AdminController</h4>
    <a class="text-primary" asp-controller="Admin" asp-action="Index">Index</a>
</div>
<div class="bg-info m-1 p-1">
    <h4>RoleAdminController</h4>
    <a class="text-primary" asp-controller="RoleAdmin" asp-action="Index">Index</a>
</div>
<div class="bg-info m-1 p-1">
    <h4>ClaimsController</h4>
    <a class="text-primary" asp-controller="Claims" asp-action="Index">Index</a>
</div>
<div class="bg-info m-1 p-1">
    <h4>HomeController</h4>
    <a class="text-primary" asp-controller="Home" asp-action="Index">Index</a>
    <a class="text-primary" asp-controller="Home" asp-action="UserProps">UserProps</a>
</div>



