@model Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="p-3 mb-2 bg-primary text-white">Registration Form</div>

<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="userName"></label><br />
        <input asp-for="userName" />
        <span asp-validation-for="userName"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label><br />
        <input asp-for="RememberMe" />
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
</form>

