@model DayOfWeek
@{ Layout = null; }
    < !DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device - wi dth " />
    <title>Controllers and Actions</title>
    <link rel="stylesheet" asp-href-include="liЬ/bootstrap/dist/css/*.min.css" />
</head>
<body class="panel-body ">
    Model : @Model.DayOfWeek
</body>
</html> 