@model Dictionary<string, object>

<div class="bg-primary m-1 p-1 text-white"><h4>User Details</h4></div>

<table class="table table-sm table-bordered m-1 p-1">
    @foreach (var kvp in Model)
    {
        <tr><th>@kvp.Key</th><td>@kvp.Value</td></tr>
    }
</table>

@if (User?.Identity?.IsAuthenticated ?? false)
{
<a asp-action="OtherAction" asp-controller="Home" class="btn btn-primary">OtherAction(with Policy)</a>
    <a asp-controller="Account" asp-action="Logout"
       class="btn btn-danger">Logout</a>
    <a asp-action="Index" asp-controller="Account" class="btn btn-secondary">Cancel</a>
}