<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}\logs\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile" fileName="${basedir}\logs\${shortdate}_all.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="Warn-Error" fileName="${basedir}\logs\${shortdate}_Warn.Error.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${message} ${exception:format=tostring}" />
  
    <target xsi:type="File" name="Own-Log" fileName="${basedir}\logs\${shortdate}_Own-Log.log"
            layout="${longdate}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}${newline}|${message} ${exception:format=tostring}" />
  
    <!--<target xsi:type="File" name="Own-Log" fileName="${basedir}\logs\Own-Log-${shortdate}.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="action" layout=" ${aspnet-mvc-action}${newline}" />
        <attribute name="message" layout="${message} ${exception:format=tostring}" />
      </layout>
    </target>-->
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Info" writeTo="allfile" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!-- BlackHole without writeTo -->
    <logger name="*" minlevel="Warn" maxlevel="Error" writeTo="Warn-Error" />
    <logger name="*" minlevel="Info" maxlevel="Error" writeTo="Own-Log" />
   
  </rules>
</nlog>